* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Genos", sans-serif;
}

.logo {
  font-weight: 200;
  color: #ffd453;
  font-weight: 200;
  font-size: 40px;
}

.account span {
  margin-left: 15px;
  font-size: 30px;
}

header {
  background: #15487b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  color: white;
  weight: 1440px;
  height: 170px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

nav {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
}

nav a {
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 30px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 180px;
  display: none;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-menu a {
  padding: 10px;
  color: #003b6f;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu a:hover {
  background: #eef4ff;
}

.dropdown.open .dropdown-menu {
  display: flex;
}

.banner {
  background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e")
    no-repeat center center/cover;
  color: orange;
  padding: 60px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

.banner-text {
  font-size: 100px;
  font-weight: bold;
  line-height: 1.2;
  color: orange;
  display: flex;
  justify-content: center; /* căn giữa theo chiều ngang */
  align-items: center; /* căn giữa theo chiều dọc */
  display: flex;
  justify-content: left; /* căn giữa theo chiều ngang */
  align-items: center; /* căn giữa theo chiều dọc */
  text-align: center;
}

.banner-search {
  background: rgba(0, 0, 0, 0.21);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 400px;
}

.banner-search input {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: "Genos", sans-serif;
}

.banner-search button {
  padding: 10px;
  background: #ffcc00;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 25px;
  font-family: "Genos", sans-serif;
}

.search-box {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  display: inline-flex;
  gap: 10px;
  border-radius: 5px;
}

.plan-section {
  display: flex;
  padding: 30px;
  background: #dff0ff; /* nhẹ hơn #f0f6ff */
  gap: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan-section input {
  font-size: 30px;
  font-family: "Genos", sans-serif;
}
.plan-section button {
  font-size: 30px;
  font-family: "Genos", sans-serif;
}

/* Bên trái: Bản đồ */
.map img {
  width: 420px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/* Bên phải: Lịch trình */
.plan {
  background: #a4c4e4;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 340px;
}

.plan h2 {
  margin-bottom: 15px;
  background: #154c82;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Input và nút */
.plan input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 6px;
  width: 100%;
}

.plan button {
  margin-top: 15px;
  padding: 10px;
  background: #ffd34d;
  color: #003b6f;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plan button:hover {
  background: #ffbd1f;
}

.hot-places {
  background: #fff8db;
  padding: 20px;
  font-family: sans-serif;
  font-family: "Genos", sans-serif;
}

.hot-places h2 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 40 px;
}

.places-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cột */
  gap: 20px;
}

.place {
  position: relative;
  height: 180px;
  border-radius: 12px;
  overflow: hidden;
}

.place img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.place-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}
